<div class="container">
  <div fxFlex fxLayout="column" fxLayoutGap="10px">
    <div fxFlex>
      <div>
        <h3>Productos</h3>
        <hr />
      </div>
    </div>

    <div fxFlex fxLayout="column" *ngIf="products.length === 0">
      <mat-card class="card mat-elevation-z4">
        <form novalidate [formGroup]="uploadFileForm" (ngSubmit)="onSubmit()">
          <p>
            No se encuentran archivos registrados, carga un archivo .csv para
            cargar los productos.
          </p>
          <p>
            <mat-form-field>
              <ngx-mat-file-input
                placeholder="Cargar un Archivo"
                formControlName="productFile"
                [accept]="'.csv'"
              ></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
          </p>
          <button type="submit" mat-button class="button">Submit</button>
        </form>
      </mat-card>
    </div>

    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="products">
        <div
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="33%"
          *ngFor="let product of products"
        >
          <mat-card class="card mat-elevation-z4">
            <img mat-card-image src="../../../../assets/vegetable.jpg" />
            <mat-card-header>
              <mat-card-title> {{ product.nombre_producto }} </mat-card-title>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button>
                <mat-icon>add_shopping_cart</mat-icon>COMPRAR
                {{ product.precio_venta | currency }}
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>

    <div fxFlex *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{ errMess }}</h4>
    </div>
  </div>
</div>
