/* You can add global styles to this file, and also import other style files */

body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif; 
}

.container {
  margin: 1.25rem;
  display: flex;
}

.flex-spacer {
  flex: 1 1 auto;
}

mat-dialog-container {
  border-radius: 10px !important;
  background: white !important;
  color: black !important;
}

