.card {
  display: flex;
  flex-direction: column;
  background-color: darkgray;
  color: purple;
  margin: 1rem;
  max-width: 25rem;
  min-height: 10rem;
  min-width: 25rem;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}