<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ product.nombre_producto }}</mat-card-title>
    <mat-card-subtitle>
      NIT del proveedor: {{ product.nit_proveedor }}
    </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>Valor del Iva del Producto: {{ product.iva_compra }}%</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <mat-icon>add_shopping_cart</mat-icon>
      Agregar {{ product.precio_venta | currency }}
    </button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
