<mat-toolbar>
  <span>{{clientForm.controls['_id'].value?"Editar Cliente":"Crear Cliente"}}</span>
  <span class="flex-spacer"></span>
  <button
    class="btn-dialog-close"
    mat-stroked-button
    (click)="onClose()"
    tabIndex="-1"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form
  novalidate
  [formGroup]="clientForm"
  #cform="ngForm"
  (ngSubmit)="onSubmit()"
>
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field class="half-width">
          <input
            matInput
            formControlName="cedula_cliente"
            placeholder="Cedula"
            type="text"
            required
          />
          <mat-error>Invalid email address.</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input
            matInput
            formControlName="nombre_cliente"
            placeholder="Nombre"
            type="text"
            required
          />
        </mat-form-field>
        <mat-form-field class="half-width">
          <input
            matInput
            formControlName="email_cliente"
            placeholder="Email"
            type="text"
            required
          />
        </mat-form-field>
        <mat-form-field class="half-width">
          <input
            matInput
            formControlName="telefono_cliente"
            placeholder="Telefono"
            type="text"
            required
          />
        </mat-form-field>
        <mat-form-field class="half-width">
          <input
            matInput
            formControlName="direccion_cliente"
            placeholder="Direccion"
            type="text"
            required
          />
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      type="submit"
      mat-button
      class="background-primary text-floral-white"
      [disabled]="clientForm.invalid"
    >
      Login
    </button>
  </mat-dialog-actions>
</form>
