<h1
  mat-dialog-title
  fxLayoutAlign="space-around center"
>
  <span>{{
    clientForm.controls["_id"].value ? "Editar Cliente" : "Crear Cliente"
  }}</span>
</h1>

<form
  novalidate
  [formGroup]="clientForm"
  #cform="ngForm"
  (ngSubmit)="onSubmit()"
>
  <div
    class="controles-container"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-form-field class="half-width">
      <input
        matInput
        formControlName="cedula_cliente"
        placeholder="Cedula"
        type="text"
        required
      />
      <mat-error>Invalid email address.</mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input
        matInput
        formControlName="nombre_cliente"
        placeholder="Nombre"
        type="text"
        required
      />
    </mat-form-field>
    <mat-form-field class="half-width">
      <input
        matInput
        formControlName="correo_cliente"
        placeholder="Email"
        type="text"
        required
      />
    </mat-form-field>
    <mat-form-field class="half-width">
      <input
        matInput
        formControlName="telefono_cliente"
        placeholder="Telefono"
        type="text"
        required
      />
    </mat-form-field>
    <mat-form-field class="half-width">
      <input
        matInput
        formControlName="direccion_cliente"
        placeholder="Direccion"
        type="text"
        required
      />
    </mat-form-field>
  </div>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      type="submit"
      mat-button
      class="background-primary text-floral-white"
      [disabled]="clientForm.invalid"
    >
    {{
      clientForm.controls["_id"].value ? "Editar Cliente" : "Crear Cliente"
    }}
    </button>
  </mat-dialog-actions>
</form>
